/* CSS */
.packages .package.selected {
  opacity: 1;
}
.packages .package {
  opacity: 0.5;
  margin-bottom: 10px;
  cursor: pointer;
}
.packages .package:hover {
  opacity: 0.8;
}
#package-manager textarea.input-large {
  width: 570px !important;
  font-size: 9pt;
  font-family: monospace;
}
.packages-code p {
  font-size: 2em;
  font-weight: bold;
}
.packages .hidden {
  display: none;
}
#package-manager .snippet {
  margin-bottom: 40px;
}
#package-manager .snippet {

}
